@use "./partials/variables.scss" as *;
section {
    background-color: #FCFCFC;
  div {
    div {
      div {
        div {
          h1 {
            font-weight: bold;
          }
          h2 {
            color: $green;
          }
        }
        p {
        }
        div {
          span {
            a {
              text-decoration: none;
              color: $green;
              font-weight: bold;
            }
          }
        }
      }
      div {
        div {
          div {
            h1 {
              font-size: 40px;
              color: $green;
            }
          }
        }
      }
    }
  }
}
// // section 2

// section 3
.hearts{
    color: $green;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
// section 4
.bg{
  background-color: rgb(240, 240, 240);
}
.bg-box{
    // background-image: url("../../public/img/home-5-image-box-01.png");
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
    height: 200px;
    width: 100%;
    img{
      max-width: 80%;
    }
}

