@use "./partials/variables.scss" as *;

h1{
    background-color: antiquewhite;
}

//JUMBO
.jumbo_container{
    background-color: rgb(232, 230, 227);
    background-image: url("/img/jumbo-overlay.svg");
    background-repeat: no-repeat;
    background-position: center;
    // transform: rotate(180deg);
    padding: 30px;

    .container{
        // transform: rotate(180deg);
        
        //left JUMBO
        .left_jumbo_container{
           padding: 40px;
           padding-right: 160px;

            h2{
                color: $purple;
                font-size: 2.7em;
                font-weight: 600;
            }
            p{
                color: rgb(141, 139, 163);
                line-height: 30px;
                font-weight: 300;
                font-size: 1.2em;
            }
            button{
                background-color: $green;
                padding: 10px 25px;
                border: none;
            }
        }
        
        //right JUMBO
        .right_jumbo_container{
            
            .img_jumbo_container{
                height: 550px;
        
                img{
                    height: 100%;
                }
            }
        }
        
    }
    
}

//SECTION 1
.section_1{
    margin-top: 20px;
    padding: 60px;

    h6{
        font-weight: 300;
        color: gray;
    }

    span:first-of-type {
        color: rgb(82, 58, 92) ;
        font-size: 2.7em;
        font-weight: 600;
    }
    span:nth-of-type(2) {
        color: $green;
        font-size: 2.7em;
        font-weight: 300;
    }

    .img-card-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        img{
            max-width: 100%;
            margin: auto;
            object-fit: cover;
            display: block;
            
        }
    }

    .info-card-container{
        >*{
            margin-bottom: 20px;
        }
        .title_card_section1{
            font-weight: 600;
            font-size: 1.2em;
        }
        .description_card_section{
            font-weight: 150;
            color: gray;
        }

        a{
            color: gray;
            text-decoration: none;
        }
    }
}

//SECTION 2
.section_2{
    margin-top: 50px;
    .text-information-container{
        span:first-of-type, span:last-of-type{
            color: rgb(82, 58, 92) ;
            font-size: 2.7em;
            font-weight: 600;
        }
        span:nth-of-type(2) {
            color: $green;
            font-size: 2.7em;
            font-weight: 300;
        }
    }
    
}
.img_container_section2{
    display: flex;
    justify-content: center;
    img{
        display: block;
    }
}