@use "./partials/variables.scss" as *;

h1{
    background-color: antiquewhite;
}


//GENERAL
.text-secondary-grey{
    color: $darkgray;
    font-weight: 300;
    font-size: 1.2em;
}
.text-big-purple{
    color: $purple;
    font-size: 2.7em;
    font-weight: 600;

}

.text-green{
    color: #20AD96;
    font-size: 2.7em;
    font-weight: 300;
}

.color_dark_gray{
    color: $darkgray;
}
.color_green{
    color: #20AD96;  
}
.color_purple{
    color: $purple;  
}
//JUMBO
.jumbo_container{
    background-color: $beige;
    background-image: url("/img/jumbo-overlay.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    background-attachment: fixed;
    background-position-y: -200px;
    background-position-x: -500px;
    transform: rotate(180deg);
    transform: scaley(-1);
    padding: 30px;

    .container{
        transform: rotate(180deg);
        transform: scaley(-1);

        
        //left JUMBO
        .left_jumbo_container{
           padding: 40px;
           padding-right: 160px;

            h2{
                color: $purple;
                font-size: 2.7em;
                font-weight: 600;
            }
            p{
                color: $darkgray;
                line-height: 30px;
                font-weight: 300;
                font-size: 1.2em;
            }
            button{
                background-color: $green;
                padding: 10px 25px;
                border: none;
                color: white;
            }
        }
        
        //right JUMBO
        .right_jumbo_container{
            
            .img_jumbo_container{
                height: 550px;
        
                img{
                    height: 100%;
                }
            }
        }
        
    }
    
}

//SECTION 1
.section_1{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 60px;

    h6{
        font-weight: 300;
        color: $darkgray;
    }

    span:first-of-type {
        color: $purple;
        font-size: 2.7em;
        font-weight: 600;
    }
    span:nth-of-type(2) {
        color: $green;
        font-size: 2.7em;
        font-weight: 300;
    }

    .img-card-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        img{
            max-width: 100%;
            margin: auto;
            object-fit: cover;
            display: block;
            
        }
    }

    .info-card-container{
        >*{
            margin-bottom: 20px;
        }
        .title_card_section1{
            font-weight: 600;
            font-size: 1.2em;
        }
        .description_card_section{
            font-weight: 150;
            color: $darkgray;
        }

        a{
            color: gray;
            text-decoration: none;
        }
    }
}

//SECTION 2
.section_2{
    margin-top: 50px;
    margin-bottom: 50px;
    .text-information-container{
        span:first-of-type, span:last-of-type{
            color: $purple;
            font-size: 2.7em;
            font-weight: 600;
        }
        span:nth-of-type(2) {
            color: $green;
            font-size: 2.7em;
            font-weight: 300;
        }
    }
    
}
.img_container_section2{
    display: flex;
    justify-content: center;
    img{
        display: block;
    }
}


//SECTION 3
.section_3{
    margin-top: 50px;
  
    padding: 50px;
    background-color: $beige;
    
    .little_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        margin: 0 auto;
        .number_section_3{
            display: flex;
            justify-content: center;
            color: $green;
            font-size: 2.7em;
            font-weight: 600;
        }
        .info_section_3{
            display: flex;
            justify-content: center;
            color: $purple;
        }
    
    }
    
    
}

//SECTION 4
.section_4{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $lightbeige;
    
    button{
        background-color: $green;
        padding: 10px 25px;
        border: none;
        color: white;
        border-radius: 6px;
        padding: 15px 30px;
       
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            font-size: 0.8em;
    
            i{
               
                margin-left: 5px;
            }
        }
    } 
    
}


.card{
    overflow: hidden;
    .card-body{
        .img_person{
            
            img{
                border-radius: 50%;
                display: block;
            }
        }
        .card-text{
            line-height: 30px;
        }
        .name_card{
            margin-left: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $darkgray;
        }
    
        
    }
    
    .price_card_container{
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: $green;
        color: white;
        padding: 7px;
        font-weight: 600;
        border-bottom-left-radius: 7px;
    }
    

}

// SECTION 5
.section_5{
    padding-top: 40px;
    padding-bottom: 40px;

    ul{
        padding-left: 1.5rem;
        margin-left: 0;
        li{
            margin-bottom: 10px;
        }
        i{
            color: $green;
            
        }
        
      
    }

    button{
        background-color: $green;
        padding: 10px 25px;
        border: none;
        color: white;
        border-radius: 6px;
        padding: 15px 30px;
       
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            font-size: 0.8em;
        }
    } 

}

//SECTION 7
.section_7{
    padding-top: 40px;
    padding-bottom: 40px;

    .text-center{
        margin-bottom: 50px;
    }

    .event_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -15px;
        margin-left: -15px;
        >*{
            width: calc(49% - 30px);
            margin-right: 15px;
            margin-left: 15px;
            margin-bottom: 15px;

            background-color: $lightbeige;
            padding: 30px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
        }
        
        button{
            background-color: $green;
            padding: 10px 25px;
            border: none;
            color: white;
            border-radius: 6px;
            padding: 7px 35px;
           
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
                font-size: 0.8em;
            }
        } 
    
    }
}

//SECTION 8
.section_8{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: $lightbeige;
}

//carosello
.carousel_container{
    display: flex;
    flex-wrap: wrap;
    .single_card_carousel{
        padding-top: 70px;
        position: relative;
        background-color: white;
        width: calc(100% / 3);
        
        .img_testimonial{
            position: absolute;
            
            width: 100px;
            img{
                border-radius: 50%;
                width: 100%;
            }
        }
    }

}

