@use './partials/variables.scss' as *;

/*
    RESET
*/
ul,
ul li,
ul li a {
   margin:0;
   padding: 0;
   margin-top: 10px ; 
   list-style-type: none;
   text-decoration: none;
   color: $darkgray;
}
li > a {
    &:hover {
        color: $green;
    }
}

img {
    width: 100% ;
}


/*
    MAIN
*/

.section-array {
    margin-top: 20px;
    .container-img {
        // height: 650px;
        width: 100%;
        max-height: 650px;
        overflow: hidden;
        background-color: black;

        #carouselExampleAutoplaying {
            .carousel-inner {
                .carousel-item {
                    
                    position: relative;

                    .img-filter {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        background-color:rgba(0, 0, 0, 0.368);
                        background-size: 600px;

                    }

                    img {
                        object-fit: fill;
                        filter: grayscale(40%);

                    }

                    .text-container {
                        z-index: 1;
                        width: 100%;
                        padding: 0 200px;
                        display: flex;
                        // align-items: center;
                        // justify-content: space-around;

                        position: absolute;
                        bottom: 380px;
                        left: 0%;

                        h2 {
                            width: 300px;
                            margin-right: 80px;
                            font-weight: bold;
                            font-size: 3rem;
                            text-align: end;
                        }

                        > div {

                            .subtitle-container {
                                align-items: center;
                                h5 {
                                    font-weight: bold;
                                    font-size: 2rem; 

                                    &:first-child {
                                        font-size: 2.2rem; 
                                    }
                                    &:last-child {
                                        font-size: 1.3rem; 
                                    }
                                }

                                div {
                                    border-bottom: 3px solid white;
                                    width: 60px;
                                    height: 25px;
                                    align-self:flex-start;
                                }
                            }

                            p {
                                width: 700px;
                                margin-top: 30px;
                                font-size: 1.3rem; 
                            }
                        }
                    }
                }
            }
        }
    }

    
}

.section-broadening {
    h3 {
        color: $green;
    }

    .border-middle {
        border-right: 2px solid #e2e2e8;
    }

    .timeline-dot-left {
        width: 30px;
        height: 30px;
        border: 1px solid #b9b9c0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25%;
        left: -63.5px;
        border-radius: 50%;

        
        
        .timeline-all-dot-left {
            width: 13px;
            height: 13px;
            border: 3px solid $green;
            border-radius: 50%;
        }
    }

    .timeline-dot-right {
        width: 30px;
        height: 30px;
        border: 1px solid #b9b9c0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25%;
        right: -64px;
        border-radius: 50%;

        
        
        .timeline-all-dot-right {
            width: 13px;
            height: 13px;
            border: 3px solid $green;
            border-radius: 50%;
        }
    }


    .container-img {
        height: 350px;
        object-fit: cover;

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }

    .container-text {
        padding: 30px;
        left: 0;
        top: 25%;
        position: absolute;
        
        p {
            line-height: 2.5;
        }
    }


    .left-side {
        animation-name: example-left;
        animation-duration: 1.5s;
        position: relative;
    }

    .right-side {
        animation-name: example-right;
        animation-duration: 1.5s;
        position: relative;
    }
}

.timeline-line {
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 100%;
    border-left: 2px solid #e2e2e8;
}



.section-register {
    margin-top: 100px;

    .container {
        h2 {
            padding: 0 280px;
        }
        button {
            background-color: $green;
            padding: 15px 75px;

            &:hover {
                background-color: $purple;
            }
        }
    }

    .section-images {
        overflow: hidden;

        .row > *{
            margin-top: 20px;
        }

        img {
            width: 100%;
            height: 400px;
            display: block;
            object-fit:cover;
        }

        .img-container {
            position: relative;
            
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                margin: 0 10px;
                background: rgba(0, 0, 0, 0.414);
                width: calc(100% - 20px);
                height: 100%;
                transition: 0.4s ease-in-out;
    
            }
        }
        .img-container:hover .overlay {
            opacity: 1;
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transition: 2s ease-in-out;

            &:last-of-type {
                font-size: 1.2rem;
            }
        }

        
        
    }
}


//accordion
.accordion-button:not(.collapsed) {
    background-color: $green;
    color: white;
    box-shadow: none;
}

.accordion-button.collapsed::after {
    background: url("/img/plus.svg");
    background-size: contain;
}
  
.accordion-button:not(.collapsed)::after {
background: url("/img/minus.png");
background-size: contain;
}

.accordion-container {
    height: 400px;
}

.carousel-control-prev, .carousel-control-next {
    top:-20%
}



/*
    FOOTER  
*/

footer {
    background-color: $lightbeige;
    .container {
        .row{
            .col-6:first-child {
                .social-container {
                    margin-top: 40px;
                    ul {
                        display: flex;
                        li {
                            margin-right: 40px;
                            > * {
                                font-size:25px;
                                &:hover {
                                    color: $green;
                                }
                            }
                        }
                    }
                }
            }

            .col-6:last-child {
                .list-container {
                    margin-right: 100px;
                    &:nth-child(2) {
                        margin-top: 31px;
                    }
                }
            }

            &:last-child {
                color: #ABABAB;
                margin-top: 50px;
            }
        }
    }
}


/*
    DEBUG
*/
.debug {
    border: 3px dashed limegreen;
}
