@use './partials/variables.scss' as *;

.section-array {
    .container-img {
        height: 650px;
        width: 100%;
        max-height: 650px;
        background-color: darkred;
    }
}

.section-broadening {

    .border-middle {
        border-right: 2px solid #e2e2e8;
    }

    .timeline-dot-left {
        width: 30px;
        height: 30px;
        border: 1px solid #b9b9c0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25%;
        left: -64px;
        border-radius: 50%;

        
        
        .timeline-all-dot-left {
            width: 13px;
            height: 13px;
            border: 3px solid $green;
            border-radius: 50%;
        }
    }

    .timeline-dot-right {
        width: 30px;
        height: 30px;
        border: 1px solid #b9b9c0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25%;
        right: -64px;
        border-radius: 50%;

        
        
        .timeline-all-dot-right {
            width: 13px;
            height: 13px;
            border: 3px solid $green;
            border-radius: 50%;
        }
    }


    .container-img {
        height: 350px;
        background-color: darkred;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }

    .container-text {
        padding: 30px;
        left: 0;
        top: 25%;
        position: absolute;
    }
}

.timeline-line {
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 100%;
    border-left: 2px solid #e2e2e8;
}



.section-register {
    margin-top: 100px;

    .container {
        button {
            background-color: $green;
            padding: 15px 75px;

            &:hover {
                background-color: $purple;
            }
        }
    }

    .section-images {
        background-color: lightcoral;
        overflow: hidden;

        .row > *{
            margin-top: 20px;
        }

        img {
            width: 100%;
            height: 400px;
            object-fit:cover;
        }
    }
}

.section-accordion {
    margin-top: 100px;
}


footer {
    background-color: $lightbeige;
}

.accordion:hover {
    // --bs-accordion-btn-bg: darkred;
    --bs-accordion-active-bg: #20AD96;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'><path fill-rule='evenodd' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z'/></svg>") !important;
    transition: all 0.5s;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'><path fill-rule='evenodd' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z'/></svg>") !important;
}

.debug {
    border: 3px dashed limegreen;
}